.nav-container {
  height: 80px;
}

.call {
  margin-right: 25px;
  font-size: 90px;
  color: yellowgreen;
}

.d-flex .me-2 {
  background-color: white;
  width: 300px;
}

.car {
  padding-right: 40px;
  margin-left: -15px;
}

.d-flex {
  width: 100%;
}

.mod {
  background-color: #070f2b;
}

.carousel-icon .carousel-control-next-icon,
.carousel-icon .carousel-control-prev-icon {
  width: 90px;
  height: 70px;
}
.sliderbutton {
  width: 240px;
  height: 50px;
}

.sliderbutton:hover {
  background: rgb(112,175,255);
  background: radial-gradient(circle, rgba(112,175,255,1) 0%, rgba(162,251,251,1) 100%);
}

.me-auto .nav-link:hover {
  color: blue;
}

.carousel-image-container {
  position: relative;
}

.carousel-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 3.5));
}
.carousel-overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
}

.nav-row {
  width: 100%;
}

.nav2 {
  background-color: dodgerblue;
}

.nav-justified .nav-item .nav-link {
  color: aliceblue;
}

.he {
  margin-top: 40px;
}
.ca {
  margin-top: 30px;
}
#h-4 {
  color: dodgerblue;
}
/* #but{

} */
#but:hover{
  background: rgb(112,175,255);
background: radial-gradient(circle, rgba(112,175,255,1) 0%, rgba(162,251,251,1) 100%);
}
.de{
  margin-top: 60px;
}
.round{
  width: 690px;
  height: 500px  !important;
  object-fit: cover;
  
}
#txt{
  margin-top: 70px;
  font: small-caps 34px Verdana;
  color: navy;
}
#mid{
  font: 22px Verdana;
}
#bot{
  font: 18px Verdana;
}
.ro{
  float: right;
}